body {
    margin: 0px;
    font-size: 16px;
    line-height: 1.5;
    }
       ol {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    ul {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    .display {
        display: flex;
        }
    .display1 {
        display: flex;
        gap: 50px; 
        background-color: rgba(202, 179, 105, 0.562);
        }
    .display2 {
        display: flex;
        justify-items: left;
        align-items: center;
        background-color: rgba(202, 179, 105, 0.562);
        }
    .display3 {
        display: flex;
        gap: 15px; 
        background-color:  rgba(202, 179, 105, 0.562);
        border-radius: 17px; 
        padding-left: 9px; 
        padding-top: 9px; 
        padding-bottom: 3px; 
   
        }
    .bordes {
        border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
        }
    th, td {
    width: 20%;
    text-align: center;
    border: 1px solid #000;
        }
    .contenedor {
        display: flex; 
        align-items: center;
        gap: 20px;
        }
    .tabla {
        border-collapse: collapse;
        margin-top: 20px;
        margin-bottom: 20px;
        }
    
    h3 {
        font-family: serif ;
       }
       
       